body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

header {
    width: 100%;
    min-height: 1.25rem;
}
header h1 {
    color: white;
    font-size: 2rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30rem;
}

main canvas {
    image-rendering: pixelated;
}